<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DynamicAppIconAndName"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:enabled="true"
            android:launchMode="singleTask"
            android:label="Dynamic Launcher Icon Chooser"
            android:theme="@style/Theme.DynamicAppIconAndName"
            android:exported="true">
        </activity>
        <activity-alias
            android:name=".green"
            android:enabled="true"
            android:icon="@drawable/ic_android_one"
            android:label="Green"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".red"
            android:enabled="false"
            android:label="Red"
            android:icon="@drawable/ic_android_two"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>





        <service
            android:name="com.thiyagatrev.dynamic.ChangeAppIconService"
            android:stopWithTask="true" />
    </application>

</manifest>